@import "color-matrix";

.slider {
  position: relative;
  padding-bottom: 40px;

  &__list {
    overflow: hidden;
    white-space: nowrap;
    text-align: center;

    .slide {
      float: none;
      display: inline-flex;
      white-space: normal;
      text-align: left;
    }
  }

  &__track {
    transition: transform 300ms ease-in-out;

    &.animation-disable {
      transition: none;
    }
  }

  &__control {
    margin-top: 30px;
    position: relative;

    .prev {
      cursor: pointer;
      position: absolute;
      left: 34.5%;
      height: 45px;
      width: 45px;
      border: 1px solid $slider-primary-color;
      border-radius: 5px;
      background-color: $slider-secondary-color;
      background-image: url("../img/svg/a-icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(90deg);
      transition: box-shadow 300ms;

      &:hover {
        box-shadow: 0 0 10px 0 #6d6d6d;
      }
    }

    .next {
      cursor: pointer;
      position: absolute;
      right: 34.5%;
      height: 45px;
      width: 45px;
      border: 1px solid $slider-primary-color;
      border-radius: 5px;
      background-color: $slider-secondary-color;
      background-image: url("../img/svg/a-icon-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(-90deg);
      transition: box-shadow 300ms;

      &:hover {
        box-shadow: 0 0 10px 0 #6d6d6d;
      }
    }
  }

  // media
  @media (max-width: 991px) {
    &__list {
      .slide {
        width: 100%;
      }
    }
  }

  @media (max-width: 767px) {
    &__control {
      display: none;
    }
  }
}
