.mt-15 {
  margin-top: 15px;
}

.mt-35--negative {
  margin-top: -35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-100 {
  margin-top: 100px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-30--negative {
  margin-right: -30px;
}

.mr-55 {
  margin-right: 55px;
}

.mr-90 {
  margin-right: 90px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ml-70 {
  margin-left: 70px;
}

.ml-190 {
  margin-left: 190px;
}

.left-50-percent {
  left: 50%;
  transform: translateX(-50%);
}

.left-250 {
  left: 250px;
}

.bottom-15-negative {
  bottom: -15px;
}

.bottom-50-negative {
  bottom: -50px;
}

.overflow-hidden {
  overflow: hidden;
}
