$cararra: #e9eae2;
$alabaster: #fcfcfc;
$white: #fff;
$silver: #c5c1c1;
$caper: #bfe79e;
$bermuda: #7dd5c9;
$wax-flower: #ffc2a6;
$scorpion: #5a5a5a;
$atomic-tangerine: #ff915e;
$patina: #578b84;
$alto: #d8d8d8;
$mantis: #85ba59;
$dusty-gray: #979797;
$semi-black: rgba(72, 72, 72, 0.55);
$mercury: #e1e1e1;
$riptide: #85e3d6;
$gossip: #c3f19d;
$burning-orange: #ff7130;

$font-stack: "Source Sans Pro", sans-serif;
$height-small: 375px;
$height-big: 665px;
