@import "vars";

$primary-default: $blue;
$primary-hover: $deep-blue;
$primary-active: $dark-blue;
$secondary-default: $orange;
$secondary-hover: $deep-orange;
$secondary-active: $dark-orange;
$success-default: $green;
$success-hover: $deep-green;
$success-active: $dark-green;
$danger-default: $red;
$danger-hover: $deep-red;
$danger-active: $dark-red;
$warning-default: $yellow;
$warning-hover: $deep-yellow;
$warning-active: $dark-yellow;
$info-default: $turquoise;
$info-hover: $deep-turquoise;
$info-active: $dark-turquoise;
$button-text: $white;
$tab-active-color: $emerald;
$tab-active-color2: $carnation;
$pagination-active-color: $emerald;
$text-primary: $scorpion;
$text-secondary: $silver-chalice;
$text-active: $white;
