@import "vars";
@import "variables3";

// buttons
$primary-default: $turquoise;
$primary-hover: $deep-turquoise;
$primary-active: $dark-turquoise;
$secondary-default: $orange;
$secondary-hover: $deep-orange;
$secondary-active: $dark-orange;
$success-default: $green;
$success-hover: $deep-green;
$success-active: $dark-green;
$danger-default: $red;
$danger-hover: $deep-red;
$danger-active: $dark-red;
$warning-default: $yellow;
$warning-hover: $deep-yellow;
$warning-active: $dark-yellow;
$info-default: $blue;
$info-hover: $deep-blue;
$info-active: $dark-blue;
$button-text: $white;

// checkboxes
$checkbox-success: $emerald;
$checkbox-secondary: $tan-hide;
$checkbox-primary: $dodger-blue;
$checkbox-danger: $carnation;
$checkbox-info: $mine-shaft;

// tabs
$tab-active-color: $emerald;
$tab-active-color2: $carnation;
$tabs-wrapper: $semi-white;

// pagination
$pagination-active-color: $emerald;

// texts
$text-primary: $scorpion;
$text-secondary: $silver-chalice;
$text-active: $white;

// comments
$comment-bg: $semi-white;
$comment-mark: $emerald;
