$blue: #4e92ff;
$deep-blue: #447fde;
$dark-blue: #3b6fc2;
$orange: #f89052;
$deep-orange: #dc7f47;
$dark-orange: #bd6937;
$green: #60cf57;
$deep-green: #4aba42;
$dark-green: #3da235;
$red: #f05b5b;
$deep-red: #bf4141;
$dark-red: #ac2d2d;
$yellow: #ffcf31;
$deep-yellow: #eebd1c;
$dark-yellow: #d6a917;
$turquoise: #0fbdb4;
$deep-turquoise: #0ca099;
$dark-turquoise: #0a8a83;
$emerald: #52be80;
$tan-hide: #f89052;
$dodger-blue: #4e92ff;
$carnation: #f05b5b;
$mine-shaft: #3c3b3b;
$scorpion: #5d5d5d;
$silver-chalice: #aca8a8;
$alto: #e0e0e0;
$white: #fff;
$semi-white: #fbfbfb;
$concrete: #f2f2f2;

$font-stack: "Roboto", sans-serif;
$main-banner: "../img/banner-3.png";
