@import "variables1";
@import "color-matrix1";
@import "grid";
@import "main";

html,
body {
  width: 1920px;
  font-family: $font-stack;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mt-8 {
  margin-top: -8px;
}

.mt_60 {
  margin-top: 60px;
}

.m_23 {
  margin: 0 23px;
}

.mb_28 {
  margin-bottom: 28px;
}

.mb_11 {
  margin-bottom: 11px;
}

.header {
  padding: 30px 0;
  height: 600px;
  background-image: url("../img/banner-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__logo {
    color: $white;
    font-size: 30px;
    font-weight: bold;
    line-height: 35px;
  }

  &__menu {
    &-item {
      display: inline-block;
    }

    &-link {
      font-family: $font-stack;
      position: relative;
      text-decoration: none;
      color: $white;
      font-size: 18px;
      font-weight: bold;
      line-height: 49px;
      margin-left: 39px;

      &:hover {
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: -2.5px;
          width: calc(100% + 5px);
          height: 2px;
          background: $white;
        }
      }
    }
  }

  &__title {
    color: $white;
    margin-top: 395px;
    text-transform: uppercase;
    margin-bottom: -10px;
  }

  &__sub-title {
    color: $white;
    margin-left: 5px;
  }
}

.tabs-wrapper {
  padding: 24px 0;
  background-color: $tabs-wrapper;
}

.typography {
  margin-top: 55px;

  &__block {
    max-width: 940px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }

    h2 {
      margin-bottom: 17px;
    }

    p {
      color: $scorpion;
      font-family: $font-stack;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.rooms {
  &__title {
    margin: 68px 0 30px;

    &--second {
      margin-top: 50px;
    }
  }

  &__item {
    height: 400px;
    border-radius: 8px;
    background-color: $white;
    box-shadow: 0 1px 8px 0 rgba(206, 206, 206, 0.5);

    &-preview {
      height: 248px;
      background-image: url("../img/room-img-1.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &--img_2 {
        background-image: url("../img/room-img-2.png");
      }

      &--img_3 {
        background-image: url("../img/room-img-3.png");
      }

      &--img_4 {
        background-image: url("../img/room-img-4.png");
      }

      &--img_5 {
        background-image: url("../img/room-img-5.png");
      }

      &--img_6 {
        background-image: url("../img/room-img-6.png");
      }
    }

    &-detail {
      padding: 20px;

      .title {
        margin: 0 0 46px;
      }

      .price {
        margin: 0;
      }
    }
  }
}

.review-rates {
  &__sub-title {
    margin: 0 0 25px;
  }

  &__checkboxes {
    .checkbox-field {
      margin-right: 50px;

      &__text {
        font-size: 20px;
        font-weight: bold;
        margin-left: 10px;
        position: relative;
        top: -5px;
      }

      &--info {
        .checkbox-field__text {
          color: $mine-shaft;
        }
      }

      &--danger {
        .checkbox-field__text {
          color: $carnation;
        }
      }

      &--primary {
        .checkbox-field__text {
          color: $dodger-blue;
        }
      }

      &--secondary {
        .checkbox-field__text {
          color: $tan-hide;
        }
      }

      &--success {
        .checkbox-field__text {
          color: $emerald;
        }
      }
    }
  }

  &__comments {
    width: 940px;
    margin-top: 38px;

    .comment {
      padding: 30px;
      border-radius: 8px;
      color: $scorpion;
      background-color: $comment-bg;
      font-size: 20px;
      line-height: 30px;

      .comment-mark {
        color: $comment-mark;
        font-weight: bold;

        &::before {
          content: "|";
          display: inline-block;
          margin-right: 30px;
          font-weight: normal;
          color: $scorpion;
        }
      }

      &__body {
        margin-top: 25px;
      }
    }
  }
}

.footer {
  margin-top: 172px;

  &__title {
    font-weight: bold;
    margin: 0 0 30px;
  }

  &__menu {
    &-item {
      margin-bottom: 10px;
    }

    &-link {
      text-decoration: none;
      color: $scorpion;
      font-size: 18px;
      line-height: 21px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
