@import "reset";
@import "typography";
@import "mixins";
@import "extends";
@import "vars";
@import "color-matrix";

// ui kit
.container {
  width: 1024px;
  margin: 30px auto;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-100 {
  margin-bottom: 100px;
}

.disabled {
  @extend %item-disabled;
}

// buttons
.button {
  @extend %button;

  &.primary {
    @include button-colors($primary-default, $primary-hover, $primary-active);
  }

  &.secondary {
    @include button-colors($secondary-default, $secondary-hover, $secondary-active);
  }

  &.success {
    @include button-colors($success-default, $success-hover, $success-active);
  }

  &.danger {
    @include button-colors($danger-default, $danger-hover, $danger-active);
  }

  &.warning {
    @include button-colors($warning-default, $warning-hover, $warning-active);
  }

  &.info {
    @include button-colors($info-default, $info-hover, $info-active);
  }
}

// tabs
.tabs__item {
  @extend %tab-item;

  @include tab-item-effects(tabs__item-input, tabs__item-label, $scorpion, $tab-active-color);

  &--filled {
    @extend %tab-item-filled;

    @include tab-item-filled-effects(tabs__item-input, tabs__item-label, $white, $tab-active-color2);
  }
}

// check boxes

.checkbox-field {
  @extend %checkbox-field;

  @include checkbox-field-effects(checkbox-field__input, checkbox-field__label, $emerald);

  &--success {
    @include checkbox-field-effects(checkbox-field__input, checkbox-field__label, $checkbox-success);
  }

  &--secondary {
    @include checkbox-field-effects(checkbox-field__input, checkbox-field__label, $checkbox-secondary);
  }

  &--primary {
    @include checkbox-field-effects(checkbox-field__input, checkbox-field__label, $checkbox-primary);
  }

  &--danger {
    @include checkbox-field-effects(checkbox-field__input, checkbox-field__label, $checkbox-danger);
  }

  &--info {
    @include checkbox-field-effects(checkbox-field__input, checkbox-field__label, $checkbox-info);
  }
}

// pagination

.pagination__item {
  @extend %pagination-item;
}
