@import "color-matrix";

%default-title {
  position: relative;
  display: table;
  margin: 0 auto;
  color: $primary-text-color;
  font-family: $font-hind;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;

  &::after {
    content: "";
    position: absolute;
    border-top: 1px solid $white;
    border-right: 1px solid $primary-text-color;
    border-bottom: 1px solid $primary-text-color;
    border-left: 1px solid $primary-text-color;
    width: calc(100% - 4px);
    height: 8px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
  }

  &::before {
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    bottom: -3px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid $primary-text-color;
  }
}

%secondary-title {
  color: $primary-text-color;
  font-family: $font-hind;
  font-size: 28px;
  font-weight: 600;
  line-height: 37px;
}

%small-title {
  color: $primary-text-color;
  font-family: $font-hind;
  font-size: 24px;
  font-weight: 600;
  line-height: 39px;
}

%default-sub-title {
  color: $primary-text-color;
  font-family: $font-hind;
  font-size: 17px;
  line-height: 26px;
  max-width: 445px;
  margin: 25px auto 60px;
  text-align: center;
}

%default-text {
  color: $primary-text-color;
  font-family: $font-hind;
  font-size: 17px;
  line-height: 26px;
}

%default-section {
  padding-top: 80px;
}

%post-info {
  color: $post-info-color;
  font-size: 15px;
  line-height: 25px;

  .long {
    &::before,
    &::after {
      content: "";
      display: inline-block;
      height: 3px;
      width: 3px;
      border-radius: 50%;
      line-height: 25px;
      background-color: $post-info-color;
      margin: 0 8px;
      position: relative;
      top: -3px;
    }
  }

  .comments {
    &::before {
      content: "";
      display: inline-block;
      height: 13px;
      width: 14px;
      margin-right: 8px;
      background-image: url("../img/svg/a-icon-comment.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .rating {
    display: inline-flex;
    margin-left: 10px;

    &__star {
      display: inline-block;
      width: 14px;
      height: 14px;
      margin-right: 3px;
      background-image: url("../img/svg/Star-1.svg");
      background-repeat: no-repeat;
      background-position: center;

      &--half_filled {
        background-image: url("../img/svg/Star-2.svg");
      }

      &--empty {
        background-image: url("../img/svg/Star-3.svg");
      }
    }
  }
}

// media
@media (max-width: 991px) {
  %default-sub-title {
    margin: 25px auto 30px;
  }

  %default-section {
    padding-top: 40px;
  }
}
