@import "color-matrix";
@import "extends";

.features {
  background-color: $features-bg;
  padding: 95px 0 100px;

  &__title {
    @extend %section-title;

    text-align: center;
  }

  &__sub-title {
    @extend %default-text;

    text-align: center;
    max-width: 485px;
    margin: 20px auto 60px;
  }

  &__content-wrap {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    border-radius: 3px;
  }

  &__items {
    max-width: 560px;
    margin-top: 5px;

    .item {
      display: flex;
      margin-top: 10px;

      &:not(:last-child) {
        margin-bottom: 50px;
      }

      &__icon {
        min-width: 35px;
        margin: -10px 25px 0 0;
      }

      &__content {
        max-width: 485px;

        .title {
          @extend %uppercase-title;

          margin-bottom: 15px;
        }

        .text {
          @extend %default-text;
        }
      }
    }
  }
}

// media
@media (max-width: 1199px) {
  .features {
    padding: 60px 0 68px;

    &__img {
      max-width: 530px;
    }

    &__items {
      margin-top: 0;

      .item {
        &__icon {
          margin: -10px 15px 0 0;
        }

        &__content {
          max-width: 320px;

          .hidden-words {
            display: none;
          }
        }
      }
    }
  }
}
