.container {
  width: 100%;
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto;

  // media
  @media (max-width: 1199px) {
    max-width: 930px;
  }

  @media (max-width: 991px) {
    max-width: 690px;
  }

  @media (max-width: 767px) {
    max-width: 450px;
  }

  @media (max-width: 479px) {
    max-width: calc(100% - 30px);
  }
}
