// fonts
$font-libre: "Libre Franklin", sans-serif;
$font-lucida: "Lucida Grande", sans-serif;

// colors
$white: #fff;
$mine-shaft: #333;
$alto: #d8d8d8;
$gray: #827d7d;
$black: #000;
$alabaster: #f8f8f8;
$silver: #cacaca;
$marigold-yellow: #f9f074;
$royal-blue: #3358de;
$semi-black: rgba(76, 76, 76, 0.35);
