@import "vars";

// global
$primary-text-color: $tundora;

// header
$menu-item-primary: $tundora;
$menu-item-effect: $tundora;

// slider
$slider-primary-color: $tundora;
$slider-secondary-color: $white;

// latest posts
$post-info-color: $gray;

// latest portfolio
$item-color: $white;

// comment
$comment-primary-color: $white;
$comment-secondary-color: $abbey;

// contact us
$contact-us-bg: $alabaster;
$contact-primary-color: $tundora;
$contact-secondary-color:$white;
$contact-third-color: $semi-gray;

// search
$search-primary-color: $tundora;
$search-secondary-color: $white;

// post
$post-bg: $fantasy;

// footer
$footer-bg: $alabaster;

// ui
$btn-primary-color: $tundora;
$btn-secondary-color: $white;
