@import "color-matrix";
@import "extends";
@import "grid";

.single-post-wrapper {
  @include make-lg-column(7);

  margin-top: 25px;

  .single-post {
    &__title {
      @extend %secondary-title;

      margin-bottom: 25px;
    }

    &__head {
      clear: both;

      .avatar {
        float: left;
        margin-right: 13px;
      }

      .title {
        @extend %default-text;

        font-weight: 500;
      }

      .info {
        @extend %post-info;
      }
    }

    &__thumbnail {
      width: 100%;
      margin: 15px 0;
    }

    &__body {
      .content {
        p {
          @extend %default-text;
        }

        h2 {
          @extend %small-title;

          margin: 0 0 -5px;
          padding-top: 15px;
        }

        blockquote {
          @extend %default-text;

          max-width: 500px;
          margin: 0 0 15px 0;
          padding: 15px 0 15px 30px;
          border-left: 5px solid #e6e6e6;
        }

        a {
          font-weight: bold;
          text-decoration: none;
          color: $primary-text-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;

      .likes {
        font-size: 15px;
        line-height: 25px;

        &__icon {
          display: inline-block;
          height: 24px;
          width: 24px;
          margin-right: 10px;
          background-image: url("../img/svg/a-icon-like-1.svg");
          background-repeat: no-repeat;
          background-position: center;

          &:hover,
          &:active {
            background-image: url("../img/svg/a-icon-like-active.svg");
          }
        }
      }

      .socials {
        .link {
          display: inline-block;
          width: 23px;
          height: 23px;
          cursor: pointer;
          background-repeat: no-repeat;
          background-position: center;

          &:not(:last-child) {
            margin-right: 25px;
          }

          &--facebook {
            background-image: url("../img/svg/a-icon-facebook.svg");
          }

          &--instagram {
            background-image: url("../img/svg/a-icon-instagram.svg");
          }

          &--dribbble {
            background-image: url("../img/svg/a-icon-dribbble.svg");
          }
        }
      }
    }
  }

  .reviews {
    &__title {
      @extend %small-title;

      margin: 35px 0 15px;
    }

    &__items {
      position: relative;

      .line {
        content: "";
        position: absolute;
        z-index: -1;
        left: 40px;
        top: -20px;
        height: calc(100% + 40px);
        width: 1px;
        background-color: #ddd;

        &::before {
          content: "";
          position: absolute;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          border: 2px solid #ddd;
          background-color: #fff;
          left: 50%;
          top: -16px;
          transform: translateX(-50%);
        }

        &::after {
          content: "";
          position: absolute;
          height: 16px;
          width: 16px;
          border-radius: 50%;
          border: 2px solid #ddd;
          background-color: #fff;
          left: 50%;
          bottom: -16px;
          transform: translateX(-50%);
        }
      }
    }

    &__item {
      display: flex;
      margin: 60px 0 65px;

      .avatar {
        min-width: 80px;
        max-width: 80px;
        height: 80px;
        margin-right: 15px;
      }

      .comment {
        background-color: $post-bg;
        padding: 15px 20px;

        &__head {
          @extend %post-info;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .title {
            font-family: $font-lucida;
            font-size: 17px;
            font-weight: bold;
            line-height: 20px;
            color: $primary-text-color;
          }

          .date {
            &::before {
              content: "";
              display: inline-block;
              height: 14px;
              width: 14px;
              background-image: url("../img/svg/a-icon-time.svg");
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 10px;
            }
          }
        }

        &__body {
          font-size: 15px;
          line-height: 25px;
          margin-top: 10px;
        }

        &__footer {
          margin-top: 10px;
          text-align: right;
        }

        &__link {
          font-size: 15px;
          font-weight: 500;
          line-height: 25px;
          text-decoration: underline;
          color: $primary-text-color;
        }
      }
    }

    &__btn {
      margin-top: 35px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  // media
  @media (max-width: 767px) {
    .reviews {
      &__item {
        flex-direction: column;

        .comment {
          &__head {
            flex-direction: column;
          }
        }
      }
    }
  }
}
