/* hind-siliguri-300 - latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/hind-siliguri/hind-siliguri-v6-latin-300.eot');
  src:
    local('Hind Siliguri Light'),
    local('HindSiliguri-Light'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-300.woff2') format('woff2'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-300.woff') format('woff'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-300.ttf') format('truetype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-300.svg#HindSiliguri') format('svg');
}

/* hind-siliguri-regular - latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hind-siliguri/hind-siliguri-v6-latin-regular.eot');
  src:
    local('Hind Siliguri Regular'),
    local('HindSiliguri-Regular'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-regular.woff2') format('woff2'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-regular.woff') format('woff'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-regular.ttf') format('truetype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-regular.svg#HindSiliguri') format('svg');
}

/* hind-siliguri-600 - latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/hind-siliguri/hind-siliguri-v6-latin-600.eot');
  src:
    local('Hind Siliguri SemiBold'),
    local('HindSiliguri-SemiBold'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-600.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-600.woff2') format('woff2'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-600.woff') format('woff'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-600.ttf') format('truetype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-600.svg#HindSiliguri') format('svg');
}

/* hind-siliguri-500 - latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/hind-siliguri/hind-siliguri-v6-latin-500.eot');
  src:
    local('Hind Siliguri Medium'),
    local('HindSiliguri-Medium'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-500.woff2') format('woff2'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-500.woff') format('woff'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-500.ttf') format('truetype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-500.svg#HindSiliguri') format('svg');
}

/* hind-siliguri-700 - latin */
@font-face {
  font-family: 'Hind Siliguri';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/hind-siliguri/hind-siliguri-v6-latin-700.eot');
  src:
    local('Hind Siliguri Bold'),
    local('HindSiliguri-Bold'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-700.woff2') format('woff2'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-700.woff') format('woff'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-700.ttf') format('truetype'),
    url('../fonts/hind-siliguri/hind-siliguri-v6-latin-700.svg#HindSiliguri') format('svg');
}

/* lucida-grande-400 - latin */
@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lucida-grande/lucida-grande-regular.ttf') format('truetype');
}

/* lucida-grande-700 - latin */
@font-face {
  font-family: 'Lucida Grande';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lucida-grande/lucida-grande-bold.ttf') format('truetype');
}
