// fonts
$font-hind: "Hind Siliguri", sans-serif;
$font-lucida: "Lucida Grande", sans-serif;

// colors
$gallery: #f0f0f0;
$white: #fff;
$alabaster: #f8f8f8;
$pine-glade: #bcd492;
$tundora: #4d4949;
$gray: #818181;
$dusty-gray: #979797;
$semi-gray: #ddd;
$alto: #d8d8d8;
$fuscous-gray: #4d4c49;
$scorpion: #5c5c5c;
$sundown: #ffb0b0;
$mine-shaft: #333;
$silver-chalice: #acacac;
$abbey: #494a4d;
$anakiwa: #b0d1ff;
$concrete: #f2f2f2;
$fantasy: #fcf6f6;
