body {
  font-family: sans-serif;
}

.calendar {
  border-collapse: collapse;
}

.calendar__head {
  color: white;
  background-color: #009688;
}

.calendar__title {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
}

.calendar__day-name {
  font-weight: 100;
  padding: 5px 5px 0;
}

.calendar__day-number .calendar__input {
  display: none;
}

.calendar__day-number .calendar__input:checked + .calendar__label {
  background-color: blue;
  color: #fff;
}

.calendar__day-number .calendar__label {
  display: table-cell;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  transition: all .3s;
}

.calendar__day-number .calendar__label:hover {
  background-color: #3f51b5;
  color: #fff;
}

.calendar__day-number .calendar__label--disabled {
  background-color: #e4e4e4;
  pointer-events: none;
}

.calendar__day-number .calendar__label--holiday {
  background-color: #f38f88;
  color: #fff;
}

.calendar__day-number .calendar__label--holiday:hover,
.calendar__day-number .calendar__input:checked + .calendar__label--holiday {
  background-color: #f44336;
}