@import "extends";

.testimonials {
  @extend %default-section;

  padding-bottom: 80px;
  background-image: url("../img/testimonial-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__title {
    @extend %default-title;
  }

  &__slider {
    margin-top: 65px;
    padding-bottom: 0;

    .slider__control {
      position: absolute;
      left: 0;
      width: 100%;
      top: 50%;
      margin-top: -25px;

      .prev {
        left: 19.5%;
      }

      .next {
        right: 19.5%;
      }
    }
  }

  &__slide {
    max-width: 560px;
    margin: 0 auto;
    display: flex;

    .testimonial-description {
      background-color: $comment-secondary-color;
      padding: 53px 48px 20px;
      width: 50%;
      text-align: left;

      &__comment {
        position: relative;
        color: $comment-primary-color;
        font-size: 17px;
        font-weight: 600;
        line-height: 26px;
        margin-bottom: 35px;
        white-space: normal;

        &::before {
          content: "“";
          position: absolute;
          top: -12px;
          left: -16px;
          font-size: 32px;
        }
      }

      &__customer-name,
      &__customer-position {
        color: $comment-primary-color;
        font-size: 15px;
        line-height: 25px;
      }
    }
  }

  // media
  @media (max-width: 1199px) {
    &__slider {
      .slider__control {
        .prev {
          left: 0;
        }

        .next {
          right: 0;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &__slide {
      max-width: 100%;
      flex-direction: column;

      .testimonial-description,
      .testimonial-image img {
        width: 100%;
      }
    }
  }
}
