@import "color-matrix";
@import "extends";

.footer {
  position: relative;
  background-color: $footer-bg;
  border-top: 1px solid #ddd;
  padding: 22px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__socials {
    .link {
      display: inline-block;
      width: 23px;
      height: 23px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &--facebook {
        background-image: url("../img/svg/a-icon-facebook.svg");
      }

      &--instagram {
        background-image: url("../img/svg/a-icon-instagram.svg");
      }

      &--dribbble {
        background-image: url("../img/svg/a-icon-dribbble.svg");
      }
    }
  }

  &__logo {
    font-size: 17px;
    font-weight: bold;
    line-height: 28px;
    margin-left: 60px;
  }

  &__copy {
    font-size: 15px;
    line-height: 25px;
  }

  .up {
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 45px;
    width: 45px;
    border: 1px solid $slider-primary-color;
    border-radius: 5px;
    background-color: $slider-secondary-color;
    background-image: url("../img/svg/a-icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    transition: box-shadow 300ms;

    &:hover {
      box-shadow: 0 0 10px 0 #6d6d6d;
    }
  }

  // media
  @media (max-width: 767px) {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      margin: 15px 0;
    }
  }
}

body:not(.home) {
  .footer {
    margin-top: 80px;
  }
}
