@import "color-matrix";
@import "extends";
@import "grid";

.latest-posts {
  @extend %default-section;

  &__title {
    @extend %default-title;
  }

  &__sub-title {
    @extend %default-sub-title;
  }

  &__post-wrapper {
    @include make-md-column(4);

    .post {
      max-width: 360px;

      &__title {
        text-decoration: none;
        color: $primary-text-color;
        font-size: 20px;
        font-weight: 500;
        line-height: 32px;
        display: block;
        margin: 19px 0 5px;

        &:hover {
          text-decoration: underline;
        }
      }

      &__description {
        max-width: 360px;
        font-size: 15px;
        line-height: 24px;
      }

      &__info {
        margin-top: 20px;

        @extend %post-info;
      }
    }
  }

  // media
  @media (max-width: 991px) {
    margin-bottom: 60px;

    &__post-wrapper {
      .post {
        max-width: 100%;
        margin-bottom: 30px;

        &__thumbnail {
          .img {
            width: 100%;
          }
        }

        &__description {
          max-width: 100%;
        }
      }
    }
  }
}
