@import "extends";
@import "grid";

.contact-us {
  @extend %default-section;

  &__title {
    @extend %default-title;
  }

  &__sub-title {
    @extend %default-sub-title;
  }

  &__socials {
    padding-top: 23px;
    margin-bottom: 10px;

    .link {
      display: inline-block;
      width: 23px;
      height: 23px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-position: center;

      &:not(:last-child) {
        margin-right: 15px;
      }

      &--facebook {
        background-image: url("../img/svg/a-icon-facebook.svg");
      }

      &--instagram {
        background-image: url("../img/svg/a-icon-instagram.svg");
      }

      &--dribbble {
        background-image: url("../img/svg/a-icon-dribbble.svg");
      }
    }
  }

  &__detail {
    background-color: $contact-us-bg;

    .description {
      @include make-md-column(4);

      padding: 105px 0 32px;

      &__title {
        font-size: 24px;
        font-weight: 600;
        line-height: 39px;
        margin-left: 15px;
        margin-bottom: 42px;
      }

      &__items {
        margin-left: 42px;

        .item {
          position: relative;
          padding-bottom: 30px;

          &::before {
            content: "";
            position: absolute;
            width: 1px;
            height: 100%;
            top: 10px;
            left: -19px;
            background-color: $contact-third-color;
          }

          &:last-child {
            &::before {
              content: none;
            }
          }

          &__title {
            font-size: 15px;
            line-height: 26px;
            position: relative;

            &::before {
              content: "";
              position: absolute;
              z-index: 1;
              left: -27px;
              top: 4px;
              height: 17px;
              width: 17px;
              border-radius: 50%;
              border: 3px solid $contact-primary-color;
              box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
            }

            &::after {
              content: "";
              position: absolute;
              left: -24px;
              top: 7px;
              height: 11px;
              width: 11px;
              border: 4px solid $contact-secondary-color;
              background-color: $contact-primary-color;
            }
          }

          &__description {
            max-width: 325px;
            font-size: 15px;
            line-height: 26px;
            margin-top: 5px;
            margin-left: 10px;
          }
        }
      }
    }

    .form-wrapper {
      @include make-md-column(8);

      .form {
        border-radius: 5px;
        background-color: $white;
        box-shadow: 0 8px 25px 0 #b7b7b7;
        margin-top: -62px;

        &__content {
          display: flex;
        }

        &__title {
          position: relative;
          font-size: 17px;
          font-weight: 500;
          line-height: 21px;
          padding: 10px 82px;
          background-color: $contact-us-bg;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 22px;
            transform: translateY(-50%);
            height: 45px;
            width: 45px;
            background-image: url("../img/svg/a-icon-mail.svg");
            background-repeat: no-repeat;
            background-position: center;
          }
        }

        &__fields {
          flex: 1;
          padding: 30px 32px 60px;

          .field {
            position: relative;
            margin-bottom: 30px;

            &__label {
              font-size: 17px;
              line-height: 28px;
              display: block;
              margin-bottom: 5px;
            }

            &__input {
              border: 1px solid $contact-third-color;
              border-radius: 5px;
              width: 100%;
              height: 45px;
              text-indent: 10px;
            }

            .show_pass {
              cursor: pointer;
              position: absolute;
              right: 0;
              top: 5px;

              &::before {
                content: "";
                display: inline-block;
                height: 8px;
                width: 14px;
                background-image: url("../img/svg/a-icon-showpass.svg");
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 5px;
              }
            }
          }

          .info {
            padding-top: 10px;
            font-size: 17px;
            line-height: 28px;

            a {
              color: $contact-primary-color;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  // media
  @media (max-width: 991px) {
    &__socials {
      text-align: center;
    }

    &__detail {
      .description {
        padding: 40px 0 32px;

        &__items {
          .item {
            &__description {
              max-width: 100%;
            }
          }
        }
      }

      .form-wrapper {
        .form {
          margin-top: -30px;
          margin-bottom: 30px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    &__detail {
      .form-wrapper {
        .form {
          &__title {
            padding: 10px 15px 10px 82px;
          }

          &__content {
            flex-direction: column;

            .form__map img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
